@model List<Employee>

<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">title</th>
            <th scope="col">age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <th scope="row">@emp.Id</th>
                <td>@emp.Name</td>
                <td>@emp.Title</td>
                <td>@emp.Age</td>
            </tr>
        }
        
       
    </tbody>
</table>